.contactsText {
    display: inline-block;
}

.contactsItem {
    margin-bottom: 2vh;
}

.contactName {
    margin-right: 10px;
}

.contactTel {
    color: rgb(77, 120, 155);
    text-decoration: none;
}

.contactsBtn {
    width: fit-content;
    margin-left: 80px;
    cursor: pointer;
    padding: 0.5vh 1vw;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    border-color: rgb(77, 120, 155);
    box-shadow: inset 1px -1px 15px 1px rgb(77, 120, 155);
}

.contactsBtn:focus,
.contactsBtn:hover {
    background-color: rgb(77, 120, 155);
    color: white;
}