label {
    display: flex;
    flex-direction: column;
}

input {
    border-radius: 5px;
    width: fit-content;
    padding: 8px;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 2vh;
}

.filterBox{
    display: flex;
    justify-content: center;
}